body {
    background-image: url("/images/BLOG-1-min.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.user-survey{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    font-weight: bolder;
    color: floralwhite;
}
h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bolder;
    color: #b1960b;
    font-size: 3em;

}
.btn-css{
   display: grid;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.user-survey{*/
/*    border: 1px solid lightcoral;*/
/*}*/


/*.user-survey1{*/
/*    border: 2px solid lightcoral;*/
/*}*/
.layui-form{
    border: 2px solid #43c54d;
}
.gender{
    margin-top: 20px;
}
